// fonts
$josefin: 'Josefin Sans', sans-serif;

// colors
$white: #fff;
$gun-metal: #434e5d;
$paler-grey: #f6f9fc;
$pale-grey: #e2e7ec;
$battleship-grey: #6f7785;
$lightish-blue: #3d5afe;
$aquamarine: #47d6df;
$warm-pink: #f24d6e;
$seafoam-blue: #66cfb0;
$orangeish: #fe973d;


$charcoal-dark: #2b313a;
$charcoal-grey: #363f4c;
$cloudy-blue: #cbd1db;
